name: VulkanVoxels CI

on:
  push:
    branches: [ "main", "dev" ]
  pull_request:
    branches: [ "main", "dev" ]

jobs:
  build-and-test:
    name: Build and Test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y cmake g++ ninja-build vulkan-tools libvulkan-dev \
            glslang-tools glslang-dev xorg-dev libx11-dev mesa-common-dev \
            libwayland-dev wayland-protocols libxkbcommon-dev slang

      - name: Configure CMake
        run: cmake --preset release

      - name: Build
        run: cmake --build --preset release
